{% extends "_base.html" %} {% load crispy_forms_tags %}
{% block title %}Login{% endblock %}

{% block content %}
<!-- Primer Login con el formato del segundo -->
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="login-container">
      <h3 class="text-center mb-4">Inicio de Sesión</h3>
      <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="d-grid">
              <button type="submit" class="btn btn-primary">
                  Iniciar Sesión
              </button>
          </div>
          <div class="text-center mt-3">
              <p>
                  ¿No tienes una cuenta? <a href="{% url 'signup' %}">Regístrate</a>
              </p>
          </div>
      </form>
  </div>
</div>
{% endblock content %}

