{% extends "_base.html" %}{% load static %} {% block content %}

<div class="container mt-5 d-flex justify-content-center form-container mb-5">
	<div class="col-md-4">
		<h3 class="text-center mb-4 mt-5">
			{% if object.pk %}
				Editar Perfil
			{% else %}
				Crear Perfil
			{% endif %}
		</h3>
		<form method="post" action="" enctype="multipart/form-data" class='form-perfil'>
			{% csrf_token %}

			<!-- Foto de Perfil -->
			<div class="form-group mb-3 text-center">
				<div class="foto-container">
					<img 
						src="{% if form.foto.value %}{{ form.foto.value.url }}{% else %}{% static 'img/default-user.png' %}{% endif %}" 
						alt="Foto de Perfil" 
						id="foto-preview" 
						class="img-thumbnail rounded-circle" 
						style="width: 150px; height: 150px; object-fit: cover;" 
					/>
				</div>
				
				<label for="id_foto" class="form-label">Seleccionar Imagen</label>
				<input type="checkbox" name="foto-clear" id="foto-clear_id">
				<label for="foto-clear_id">Borrar</label>
				<input type="file" name="foto" class="form-control" accept="image/*" id="id_foto">
				
				{% if form.foto.errors %}
					<div class="text-danger">{{ form.foto.errors }}</div>
				{% endif %}
			</div>

			<!-- Error de Formulario -->
			{% if form.non_field_errors %}
				<div class="alert alert-danger">{{ form.non_field_errors }}</div>
			{% endif %}

			<!-- Nombre del Perfil -->
			<div class="form-group mb-3">
				<label for="id_nombre_perfil" class="form-label">Nombre</label></p>
				{{ form.nombre_perfil }} {% if form.nombre_perfil.errors %}
				<div class="text-danger">{{ form.nombre_perfil.errors }}</div>
				{% endif %}
			</div>

			<!-- Fecha de Nacimiento -->
			<div class="form-group mb-3">
				<label for="id_fecha_nacimiento" class="form-label">Fecha de Nacimiento</label>
				<input 
					type="date" 
					name="fecha_nacimiento" 
					value="{{ form.fecha_nacimiento.value|date:'Y-m-d' }}" 
					class="form-control"
				>
				{% if form.fecha_nacimiento.errors %}
					<div class="text-danger">{{ form.fecha_nacimiento.errors }}</div>
				{% endif %}
			</div>

			<!-- Género -->
			<div class="form-group mb-3">
				<label for="id_genero" class="form-label">Género</label>
				{{ form.genero }} {% if form.genero.errors %}
				<div class="text-danger">{{ form.genero.errors }}</div>
				{% endif %}
			</div>

			<!-- Peso -->
			<div class="form-group mb-3">
				<label for="id_peso" class="form-label">Peso (kg)</label>
				{{ form.peso }} {% if form.peso.errors %}
				<div class="text-danger">{{ form.peso.errors }}</div>
				{% endif %}
			</div>

			<!-- Deporte -->
			<div class="form-group mb-3">
				<label for="id_deporte" class="form-label">Deporte</label>
				{{ form.deporte }} {% if form.deporte.errors %}
				<div class="text-danger">{{ form.deporte.errors }}</div>
				{% endif %}
			</div>

			<!-- Botón de enviar -->
			<div class="d-flex justify-content-between mt-4 mb-5">
				<button type="submit" class="btn btn-primary">Guardar</button>
				<a href="{% url 'home' %}" class="btn btn-secondary">Cancelar</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}
